{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "eslint-plugin-import-helpers"],
  "rules": {
    "prettier/prettier": ["error", {}, {
  "usePrettierrc": false
}],
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
  
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": 0
  },
  "globals": {
    "__DEV__": "readonly",
    "describe": "readonly",
    "expect": "readonly",
    "it": "readonly",
    "jest": "readonly"
  }
}
